/* styling for the entire html sheet */
* {
  background-color: olive;
  box-sizing: border-box;

}

/* body styling */
body {
margin: 0;
padding: 0;
}

/* header style */
header {
  display: none;
}

/* suicide prevention paragraph */
#suicideprevention {


}

/* top nav bar */
nav {
display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 187, 255);
}

nav i {
  display: flex;
  align-items: center;
  background-color:rgb(0, 187, 255);
  padding: 1rem;
  font-size: 2em;
}

/* footer */
footer {
  display: flex;
  align-items: end;
  border: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}
