/* styling for the entire html sheet */
html {
    background-color: whitesmoke;
    display: flex;
}

/* header style */
header {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    border: solid 1px black;
}

/* suicide prevention paragraph */
#suicideprevention {


}

/* top nav bar */
#navLinks {

}
